.body{
    font-family: 'Cormorant Garamond', serif;
    background-color: lightyellow;
}

.h1 h1 {
    color: white;
}

.jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(Chess-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Cormorant Garamond', serif;;
}

.table {
    margin-left: 24px;
    margin-right: 24px;
    border-left: 24px;
    border-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 96%;
    table-layout: fixed;
    color: black;
    font-family: 'Cormorant Garamond', serif;
  }

  .table-headers {
      text-align: center;
      font-weight: bold;
  }

  .table-bordered {
      border-style: solid;
      border-width: 2px;
      color: black;
  }

  .img-shrink {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
  }

  .container {
    font-family: 'Cormorant Garamond', serif;
  }

  .img-resize {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .display-4 {
      font-weight: bolder;
      font-size: 4.8rem;
  }

  .lead {
    font-weight: bolder;
    font-size: 1.4rem; 
  }

  .navbar {
    font-family: 'Satisfy', serif;
  }

  .h2, h2 {
    font-family: 'Satisfy', serif;
    font-size: 1.8rem;
  }

  .h3, h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}

  .h5, h5 {
    font-family: 'Satisfy', serif;
    font-size: 1.6rem;
}

.card {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
}

.card-header .h5, h5 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
}

.btn-link {
    font-weight: 400;
    color:red;
    text-decoration: none;
}

.btn-link.focus, .btn-link:focus {
    box-shadow: none;
    color: red;
}

.p-class {
    font-size: 1.2rem;
}